@import "./assets/fonts/nunito.scss";
@import "~bootstrap/scss/bootstrap";
@import "./assets/typography.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-base, source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  font-family: $font-family-base, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium Devivces, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
}
